/* CSS Document */
body{
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    max-width: 80%;
    margin: 0 auto !important;
    float: none !important;
}
.header{
    width: inherit;
    height: 35px;
    margin-top:15px;
}
.register{
    position: inherit;
}

.signInRegisterDiv{
    text-align: right;
}
.signInSignUpButton {
	background-color:#3db35d;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:9px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3a942c;
    margin-right: 10px;
}
.signInSignUpButton:hover {
	background-color:#5ba135;
}
.signInSignUpButton:active {
	position:relative;
	top:1px;
}

.deleteButton {
	background-color:#3db35d;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:14px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:8px;
	padding:9px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3a942c;
    margin-right: 5px;
}
.deleteButton:hover {
	background-color:#3db35d;
}
.deleteButton:active {
	position:relative;
	top:1px;
}

.title{
    height: inherit;
    width: inherit;
    font-family: 'Cinzel', serif;
    font-size: 60px;
    text-align: center;
	border-bottom: thick solid #000;
	margin-bottom: 10px;
}

.button{
    height: 30px;
    width: auto;
    font-family: Lucida Sans Typewriter, Times New Roman;
    font-size: 26px;
    margin: 10px;
}
.tField{
    width:300px;
    height:60px;
    border:1px solid #000;
    padding-left: 8px;
    font-family:Times New Roman;
    font-size:50px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.eventShared{
	font-family: Josefin Sans, sans-serif;
	font-size: 14px;
	background-color:#C03;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
	border:1px solid #000;
	margin-bottom: 5px;	
	padding: 5px;
}
.events{
	font-family: Josefin Sans, sans-serif;
	font-size: 14px;
	background-color:#09C;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
	border:1px solid #000;
	margin-bottom: 5px;	
	padding: 5px;
}
.eventsMeeting{
	font-family: Josefin Sans, sans-serif;
	font-size: 14px;
	background-color: #3C6;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
	border:1px solid #000;
	margin-bottom: 5px;	
	padding: 5px;
}
.eventsCall{
	font-family: Josefin Sans, sans-serif;
	font-size: 14px;
	background-color: #36C;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
	border:1px solid #000;
	margin-bottom: 5px;	
	padding: 5px;
}
.eventsPersonal{
	font-family: Josefin Sans, sans-serif;
	font-size: 14px;
	background-color:#09C;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
	border:1px solid #000;
	margin-bottom: 5px;	
	padding: 5px;
}

.selector{
    width:300px;
}
.container{
    width: inherit;
    text-align: center;
}
.searchDiv{
    float: left;
    position: absolute;
	font-family: Josefin Sans, sans-serif;
    font-size: 24px;
}
.hidden{
	display:none;	
}
.mask{
   background: #000;
   position: fixed;
   left: 0;
   top: 0;
   z-index: 8888;
   width: 100%;
   height: 100%;
   opacity: 0.60;
}
.popupInfo{
    /*display: none;*/
    position: absolute;
    width: 25%;
    left:35%;
    background-color:#FFF;
    padding: 15px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    -moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
    z-index: 9999;
    text-align: center;
}
.usernameInfo{
    width: 40%;
    left:50%;
    background-color:#FFF;
    padding: 15px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    -moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
    text-align: center;
}
.roomCreator{
	display: none;
    width: 40%;
    left:50%;
    background-color:#FFF;
    padding: 15px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    -moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
    text-align: center;
}
.eventManager{
    display: none;
    position: absolute;
    width: 75%;
    left:10%;
	top:15%;
    background-color:#FFF;
    padding: 15px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 24px;
    -moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:1px solid #18ab29;
    z-index: 9999;
    text-align: center;
}
.closeButton{
	float:right;	
}
.tField{
    width:200px;
    height:30px;
    border:1px solid #000;
    padding-left: 3px;
    font-family:'Josefin Sans', sans-serif;
    font-size:26px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.deleteEventSelector{
	width:200px;
    height:30px;
    border:1px solid #000;
    padding-left: 3px;
    font-family:'Josefin Sans', sans-serif;
    font-size:26px;
    margin-bottom: 15px;
    margin-top: 15px;	
}
.addEvent{
	float:left;	
}
.deleteEvent{
	border-left:1px thin #000;	
}
.userNameSelectorDiv{
	display:none;
}
.userNameSelector{
	height:60px;
	width:200px;
	padding-left: 3px;
    font-family:'Josefin Sans', sans-serif;
    font-size:26px;	
}
.roomSelector{
	height:60px;
	width:200px;
	padding-left: 3px;
    font-family:'Josefin Sans', sans-serif;
    font-size:26px;	
}
.topbuttons{
	width = 100%;	
}
.table{
    display: inline-block;
    font-family:'Josefin Sans', sans-serif;
}
.todaydate{
    font-family: Josefin Sans, sans-serif;
    font-size: 24px;
    text-align: center;
    margin: 0 !important;
	border-bottom: thick solid #000;
}
table.calendar{
	margin-top: 10px;
	border-collapse:collapse;
	border-spacing: 20px;
	width: 100%;
}
table.calendar tr, table.calendar td{
	border: 5px solid #000;
	padding-bottom: 20px;
	padding-left: 5px;
	padding-top:5px;
	text-align:left;
	vertical-align:top;
}
table.calendar td:hover{
	cursor: pointer;
	background-color:rgba(0,128,0,0.2);	
}
h1.titleSmall{
    font-family: 'Cinzel', serif;
    font-size: 40px;
    margin: 0 auto !important;
	display:inline;
}

p.welcomeusername{
    font-family: Josefin Sans, sans-serif;
    font-size: 24px;
    text-align: right;
    float:right;
    margin: 0 !important;
    display:inline;
    white-space: nowrap;
}
div.eventsMeeting{
	font-family: Josefin Sans, sans-serif;
	font-size: 14px;
	background-color: #3C6;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
	border:1px solid #000;
	margin-bottom: 5px;	
	padding: 5px;
}
div.eventsCall{
	font-family: Josefin Sans, sans-serif;
	font-size: 14px;
	background-color: #36C;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
	border:1px solid #000;
	margin-bottom: 5px;	
	padding: 5px;
}
div.eventsPersonal{
	font-family: Josefin Sans, sans-serif;
	font-size: 14px;
	background-color:#09C;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
	border:1px solid #000;
	margin-bottom: 5px;	
	padding: 5px;
}





